@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<AppUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}

<!-- Breadcrumbs -->

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a title="/" href="index.html">Home</a><span>&raquo;</span></li>
                    <li><strong>Login</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Main Container -->
<section class="main-container col1-layout">
    <div class="main container">
        <div class="page-content">
            <div class="account-login">
                <div class="box-authentication">
                    <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <h4>Login</h4>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input type="text" asp-for="Email" class="form-control">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input id="password_login" asp-for="Password" type="password" class="form-control">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <p class="forgot-pass"><a asp-action="ForgotPassword">Lost your password?</a></p>
                        <button type="submit" class="button">
                            <i class="icon-lock icons"></i>&nbsp; <span>Login</span>
                        </button>
                        <label class="inline" asp-for="RememberMe">

                            <input asp-for="RememberMe" />
                            Remember me
                        </label>
                    </form>
                </div>
                <div class="box-authentication">
                    <h4>Register</h4>
                    <p>Create your very own account</p>

                    <button onclick="window.location.href='/register.html'" class="button"><i class="icon-user icons"></i>&nbsp; <span>Register</span></button>
                    <div class="register-benefits">
                        <h5>Sign up today and you will be able to :</h5>
                        <ul>
                            <li>Speed your way through checkout</li>
                            <li>Track your orders easily</li>
                            <li>Keep a record of all your purchases</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
