@using Microsoft.AspNetCore.Authorization
@using SystemCoreApp.Authorization
@inject IAuthorizationService AuthorizationService

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script src="~/app/controllers/user/index.js"></script>
    <script type="text/javascript">
        var user = new userController();
        user.init();
    </script>
}

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3><small>Danh sách User</small></h3>
        </div>
        <div class="title_right">
            <div class="col-md-4 col-sm-4 col-xs-8 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Tìm kiếm..." id="txtKeyword">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" id="btnSearch">Go!</button>
                    </span>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 form-group pull-right top_search">
                <div class="input-group">
                    @{
                        var result = await AuthorizationService.AuthorizeAsync(User, "USER", Operations.Create);
                        if (result.Succeeded)
                        {
                            <button type="button" id="btnCreate" class="btn btn-success">Tạo mới</button>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Account</th>
                                <th>FullName</th>
                                <th>Avatar</th>
                                <th>DateCreated</th>
                                <th>Status</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="tbl-content"></tbody>
                    </table>
                    <!--Pagination-->
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                                <select id="ddlShowPage">
                                    <option value="5" selected="selected">5</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                </select>
                                <span class="item-per-page">
                                    bản ghi/trang.
                                </span>
                                Tổng số bản ghi: <strong id="lblTotalRecords"></strong>
                            </div>
                        </div><div class="col-sm-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate">
                                <ul id="paginationUL"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="table-template" type="x-tmpl-mustache">
    <tr>
        <td>{{UserName}}</td>
        <td>{{FullName}}</td>
        <td>{{{Avatar}}}</td>
        <td>{{CreatedDate}}</td>
        <td>{{{Status}}}</td>
        <td>
            @if ((await AuthorizationService.AuthorizeAsync(User, "USER", Operations.Update)).Succeeded)
            {
                <button class="btn btn-default btn-sm btnEdit" data-id="{{Id}}"><i class="fa fa-pencil"></i></button>
            }

        </td>
        <td>
            @if ((await AuthorizationService.AuthorizeAsync(User, "USER", Operations.Delete)).Succeeded)
            {
                <button class="btn btn-danger btn-sm btnDelete" data-id={{Id}}><i class="fa fa-trash"></i></button>
            }
        </td>
    </tr>
</script>

<script id="role-template" type="x-tmpl-mustache">
    <div class="checkbox" id="checkboxes">
        <label>
            <input type="checkbox" {{Checked}} value="{{Name}}" name="ckRoles">
            <span class="text">{{Description}}</span>
        </label>
    </div>
</script>

@await Html.PartialAsync("_AddEditUserModal.cshtml")
